.mainContainer{
    border-radius: 10px;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgb(86, 113, 86);
    color: blanchedalmond;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#Nav_menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(8, 91, 80);
  }
  
  .Nav_link:link {
    color: #fff;
    line-height: 2rem;
    display: grid;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.2rem;
  }
  .Nav_link:visited {
    color: #1b1b1b;
  }
  .Nav_link:hover {
    color: #fff;
    background: rgb(8, 91, 80);
    border-bottom: 0.4rem solid teal;
  }
  .Nav_link:active {
    color: teal;
  }
  .formContainer label{
    text-align: left;
  }
  .Titulo{
    text-align: center;
    padding-right: 585px;
    padding-left: 475px;
    font-weight: bold;
    font-size: large;
  }
  .formContainer{
     
    /* background: radial-gradient(circle at 51.46% 33.35%, #d1f7fd 0, #b6eaf6 12.5%, #97dcf0 25%, #75cdea 37.5%, #48bde5 50%, #00ace0 62.5%, #009ddd 75%, #008ed9 87.5%, #0080d6 100%); */
    background:  linear-gradient(165deg, #8ea66f 0, #85a874 3.57%, #7ca979 7.14%, #73ab80 10.71%, #6aac87 14.29%, #61ad8e 17.86%, #58ad96 21.43%, #4fad9e 25%, #47aea6 28.57%, #40adae 32.14%, #3badb5 35.71%, #3aacbc 39.29%, #3bacc3 42.86%, #41aac8 46.43%, #49a9cd 50%, #53a7d1 53.57%, #5ea5d4 57.14%, #6aa3d6 60.71%, #76a1d6 64.29%, #829ed6 67.86%, #8e9cd5 71.43%, #9999d2 75%, #a496ce 78.57%, #ad93ca 82.14%, #b691c5 85.71%, #be8fbf 89.29%, #c58cb8 92.86%, #cb8bb1 96.43%, #cf89a9 100%);
    /* background:radial-gradient(circle at 51.46% 33.35%, #ffeda0 0, #fff09d 5%, #fff29a 10%, #f8f398 15%, #e8f496 20%, #d6f496 25%, #c2f297 30%, #abf099 35%, #92ee9b 40%, #73eaa0 45%, #48e5a5 50%, #00e0ac 55%, #00dbb6 60%, #00d6c1 65%, #00d2cd 70%, #00ceda 75%, #00cae8 80%, #00c6f5 85%, #00c2ff 90%, #00bfff 95%, #00bbff 100%); */
    /* background:radial-gradient(circle at 47.17% 17.6%, #f375df 0, #de69e1 12.5%, #c55de3 25%, #a852e4 37.5%, #8248e5 50%, #4c41e6 62.5%, #003ee7 75%, #003de7 87.5%, #003de7 100%); */
   
   
   /* position: relative;
    background-color: #23828b;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 1050px;
    padding: 20px;
    top: 20px;
    line-height: 30px;
    font-size: 1.2rem;
    align-items: self-start;
    text-align: center;
    color: #fff;
    margin: auto;
    border-radius: 20px;*/
    width: 100%;
	height:570px;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
    -moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
    -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
    -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
    -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
  
  }
  input, textarea{
    display:grid;
    padding-left:2rem;   
    width: 450px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-left: 400px;
    outline: none;
    box-shadow: 0 0 5px #ccc;
  }Label{
    text-align: left;
    display:grid;
    color: #ccc;
    padding-left: 400px;
    width: 300px;
    padding-top: 0%;
  }

  .ButtonCreate{
    background-color: #F2F2F2;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 580px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;  
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  .ButtonCreate:hover{
    background-color: rgb(8, 91, 80);
    color: #fff;
  } 

@media screen and (max-width: 768px) {
    .formContainer{
      width: 400px;
      height: 650px;
      padding: 75px;
      line-height: 25spx;
      font-size: 1.5rem;
    }

    input{
      font-size: 1.5rem;
    }
    textarea{
      font-size: 1.5rem;
    }
    select{
      font-size: 1.2rem;
    }
    .ButtonCreate{
      height: 40px;
      font-size: 1rem;
    }
    .Nav_link{
      height: 40px;
      font-size: 1.5rem;
      margin-top: 35px;
    }
    }
    @media screen and (max-width: 570px) {
      .formContainer{
        width: 300px;
        height: 550px;
        padding: 75px;
        line-height: 20px;
        font-size: 1.5rem;
      }
      input, textarea{
        width: 300px;
        height: 50px;
      }
      select{
        font-size: 1.2rem;
      }
      }
      @media screen and (max-width: 470px) {
        .formContainer{
          width: 200px;
          height: 550px;
          padding: 75px;
          line-height: 15px;
          font-size: 1.5rem;
        }
        input, textarea{
          width: 230px;
          height: 50px;
        }
        select{
          margin-top: 1.5rem;
        }
        .ButtonCreate{
          margin-top: 2.5rem;
        }
        }